.header{
    align-items: center;
}

.header__titulo{
    flex-basis: 40%;
}

.menu{
    flex-basis: 60%;
}

.main{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

/*Cajas de peliculas*/

.pelicula{
    width: 40%;
}

.pelicula__titulo{
    font-size: 1.8rem;
}

.pelicula-izquierda{
    margin-left: 10%;
}

/*Los div fantasmas xD*/

.fantasma-right{
    border-right: 5px solid black;
    width: 5%;
    margin-right: 5%;
}

.fantasma-left{
    border-left: 5px solid black;
    width: 10%;
}